*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/wtch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25%;
}
button {
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  width: 8rem;
  background-color: #1a1a1d;
  color: #c3073f;
  border-radius: 5px;
  /* text-transform: capitalize; */
  font-style: italic;
  font-style: oblique;
  font-family: FONT FAMILY APPEARANCE Comic Sans Comic Sans Comic Sans MS Comic
    Sans MS Apple Chancery;
}
@media screen and (max-width: 500px) {
  button {
    width: 6rem;
  }
}
.title {
  color: #c3073f;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  font-style: italic;
  font-family: FONT FAMILY APPEARANCE Comic Sans Comic Sans Comic Sans MS Comic
    Sans MS Apple Chancery;
}
